<div class="customers-page-container">
  <mat-card class="customers-card">
    <div class="customers-layout">
      <!-- Lista de clientes -->
      <div class="customers-list-section">
        <app-customer-list [customers]="customers" [loggedUser]="loggedUser" (edit)="handleSelectCustomer($event)"
          (delete)="handleDelete($event)">
        </app-customer-list>
      </div>

      <!-- Perfil y edición -->
      <div class="profile-section">
        <div class="profile-header">
          <h2 class="profile-title">{{ selectedCustomer ? 'Editar Usuario' : (isCreatingNew ? 'Nuevo Usuario' : 'Mi
            Perfil') }}</h2>
          <button *ngIf="!selectedCustomer && !isCreatingNew" mat-raised-button color="primary"
            (click)="handleCreateNew()">
            <mat-icon>add</mat-icon>
            Nuevo Usuario
          </button>
        </div>
        <app-customer-profile [user]="selectedCustomer || (isCreatingNew ? null : loggedUser)"
          [isNewUser]="isCreatingNew" (update)="handleUpdate((selectedCustomer || loggedUser)?.id, $event)"
          (create)="handleCreate($event)">
        </app-customer-profile>
        <button *ngIf="!isCreatingNew" mat-raised-button color="primary" (click)="navigateToOrders()"
          class="continue-button">
          Continuar a pedidos
        </button>
      </div>
    </div>
  </mat-card>
</div>