<div class="customers-page-container">
  <mat-card class="customers-card">
    <div class="customers-layout">
      <!-- Lista de clientes -->
      <div class="customers-list-section">
        <app-customer-list [customers]="customers" [loggedUser]="loggedUser" (edit)="handleSelectCustomer($event)"
          (delete)="handleDelete($event)">
        </app-customer-list>
      </div>

      <!-- Perfil y edición -->
      <div class="profile-section">
        <h2 class="profile-title">{{ selectedCustomer ? 'Editar Usuario' : 'Mi Perfil' }}</h2>
        <app-customer-profile [user]="selectedCustomer || loggedUser"
          (update)="handleUpdate((selectedCustomer || loggedUser)?.id || '', $event)">
        </app-customer-profile>
        <button mat-raised-button color="primary" (click)="navigateToOrders()" class="continue-button">
          Continuar a pedidos
        </button>
      </div>
    </div>
  </mat-card>
</div>